.btn {
  &--primary {
    height: 40px;
    padding: 0 16px;
    border: $border;
    text-transform: uppercase;
  }

  &--dropdown {
    display: inline-flex;
    align-items: center;

    &::after {
      @include triangle($color: $border-color, $dir: "down");

      margin-left: 5px;
      content: "";
    }
  }
}
