$transition-duration-base: 0.3s;

$base-color:    #5c5c5c;
$success-color: #42b983;

$border-color: $base-color;
$border-width: 3px;
$border-style: solid;
$border: $border-width $border-style $border-color;
